@{
    ViewBag.Title = "Включени в МДТ доставчици";
}

<div class="container main-content">
    <div class="text-align-center">
        <h1 class="administracia">
            &nbsp;&nbsp;Общини, предоставящи възможност за извличане на справка за дължими данъци
            и плащането им по електронен път през Портала на електронното управление
        </h1>
    </div>

    <div style="text-align: justify;">
        <span style="font-size: 18px;">
            <p style="text-align: justify;">
                Доставчиците на електронни услуги е необходимо да са включени в Системата за електронни плащания
                за предоставяне на възможността за извличане на справка за дължими данъци по електронен път през Портала на електронното управление.
            </p>
        </span>
    </div>
    <div class="administracia" style="margin-top: 40px;">



        @*NEW ADMINISTRATIONS*@

        <span style="font-size: 16px;">
            <span style="font-size: 24px;"><B>A</B></span>
            <div class="desc">Община Айтос</div>
            <div class="desc">Община Аврен</div>
            <div class="desc">Община Аксаково</div>
            <div class="desc">Община Алфатар</div>
            <div class="desc">Община Антон</div>
            <div class="desc">Община Антоново</div>
            <div class="desc">Община Ардино</div>
            <div class="desc">Община Априлци</div>
            <div class="desc">Община Асеновград</div>

            <span style="font-size: 24px;"><B>Б</B></span>
            <div class="desc">Община Баните</div>
            <div class="desc">Община Банско</div>
            <div class="desc">Община Батак</div>
            <div class="desc">Община Балчик</div>
            <div class="desc">Община Белене</div>
            <div class="desc">Община Белица</div>
            <div class="desc">Община Белово</div>
            <div class="desc">Община Белоградчик</div>
            <div class="desc">Община Белослав</div>
            <div class="desc">Община Берковица</div>
            <div class="desc">Община Благоевград</div>
            <div class="desc">Община Бобов дол</div>
            <div class="desc">Община Бобошево</div>
            <div class="desc">Община Божурище</div>
            <div class="desc">Община Бойница</div>
            <div class="desc">Община Бойчиновци</div>
            <div class="desc">Община Борино</div>
            <div class="desc">Община Борован</div>
            <div class="desc">Община Борово</div>
            <div class="desc">Община Ботевград</div>
            <div class="desc">Община Братя Даскалови</div>
            <div class="desc">Община Брацигово</div>
            <div class="desc">Община Брегово</div>
            <div class="desc">Община Брезник</div>
            <div class="desc">Община Брезово</div>
            <div class="desc">Община Бургас</div>
            <div class="desc">Община Бяла, област Русе</div>
            <div class="desc">Община Бяла Слатина</div>

            <span style="font-size: 24px;"><B>В</B></span>
            <div class="desc">Община Варна</div>
            <div class="desc">Община Велики Преслав</div>
            <div class="desc">Община Велико Търново</div>
            <div class="desc">Община Велинград </div>
            <div class="desc">Община Венец</div>
            <div class="desc">Община Ветово</div>
            <div class="desc">Община Ветрино</div>
            <div class="desc">Община Видин</div>
            <div class="desc">Община Враца</div>
            <div class="desc">Община Вълчи дол</div>
            <div class="desc">Община Върбица</div>
            <div class="desc">Община Вършец</div>

            <span style="font-size: 24px;"><B>Г</B></span>
            <div class="desc">Община Габрово</div>
            <div class="desc">Община Генерал Тошево</div>
            <div class="desc">Община Георги Дамяново</div>
            <div class="desc">Община Главиница</div>
            <div class="desc">Община Годеч</div>
            <div class="desc">Община Горна Малина</div>
            <div class="desc">Община Горна Оряховица</div>
            <div class="desc">Община Гоце Делчев</div>
            <div class="desc">Община Грамада</div>
            <div class="desc">Община Гулянци</div>
            <div class="desc">Община Гурково</div>
            <div class="desc">Община Гълъбово</div>
            <div class="desc">Община Гърмен</div>

            <span style="font-size: 24px;"><B>Д</B></span>
            <div class="desc">Община Две могили</div>
            <div class="desc">Община Девин</div>
            <div class="desc">Община Девня</div>
            <div class="desc">Община Димитровград</div>
            <div class="desc">Община Джебел</div>
            <div class="desc">Община Димово</div>
            <div class="desc">Община Добрич</div>
            <div class="desc">Община Добричка</div>
            <div class="desc">Община Долна Баня</div>
            <div class="desc">Община Долна Митрополия</div>
            <div class="desc">Община Долни Дъбник</div>
            <div class="desc">Община Долни чифлик</div>
            <div class="desc">Община Доспат</div>
            <div class="desc">Община Драгоман</div>
            <div class="desc">Община Дряново</div>
            <div class="desc">Община Дулово</div>
            <div class="desc">Община Дупница</div>
            <div class="desc">Община Дългопол</div>

            <span style="font-size: 24px;"><B>Е</B></span>
            <div class="desc">Община Елена</div>
            <div class="desc">Община Елин Пелин</div>
            <div class="desc">Община Елхово</div>
            <div class="desc">Община Етрополе</div>

            <span style="font-size: 24px;"><B>З</B></span>
            <div class="desc">Община Завет</div>
            <div class="desc">Община Земен</div>
            <div class="desc">Община Златарица</div>
            <div class="desc">Община Златица</div>
            <div class="desc">Община Златоград</div>

            <span style="font-size: 24px;"><B>И</B></span>
            <div class="desc">Община Ивайловград</div>
            <div class="desc">Община Иваново</div>
            <div class="desc">Община Искър</div>
            <div class="desc">Община Исперих</div>
            <div class="desc">Община Ихтиман</div>

            <span style="font-size: 24px;"><B>К</B></span>
            <div class="desc">Община Каварна</div>
            <div class="desc">Община Кайнарджа</div>
            <div class="desc">Община Казанлък</div>
            <div class="desc">Община Калояново</div>
            <div class="desc">Община Камено</div>
            <div class="desc">Община Каолиново</div>
            <div class="desc">Община Карлово</div>
            <div class="desc">Община Каспичан</div>
            <div class="desc">Община Кирково</div>
            <div class="desc">Община Кнежа</div>
            <div class="desc">Община Козлодуй</div>
            <div class="desc">Община Ковачевци</div>
            <div class="desc">Община Копривщица</div>
            <div class="desc">Община Костенец</div>
            <div class="desc">Община Костинброд</div>
            <div class="desc">Община Котел</div>
            <div class="desc">Община Кочериново</div>
            <div class="desc">Община Кресна</div>
            <div class="desc">Община Криводол</div>
            <div class="desc">Община Кричим</div>
            <div class="desc">Община Крумовград</div>
            <div class="desc">Община Крушари</div>
            <div class="desc">Община Кубрат</div>
            <div class="desc">Община Кула</div>
            <div class="desc">Община Кърджали</div>
            <div class="desc">Община Куклен</div>
            <div class="desc">Община Кюстендил</div>


            <span style="font-size: 24px;"><B>Л</B></span>
            <div class="desc">Община Левски</div>
            <div class="desc">Община Лесичово</div>
            <div class="desc">Община Летница</div>
            <div class="desc">Община Ловеч</div>
            <div class="desc">Община Лозница</div>
            <div class="desc">Община Луковит</div>
            <div class="desc">Община Лъки</div>
            <div class="desc">Община Любимец</div>

            <span style="font-size: 24px;"><B>М</B></span>
            <div class="desc">Община Мадан</div>
            <div class="desc">Община Маджарово</div>
            <div class="desc">Община Макреш</div>
            <div class="desc">Община Малко Търново</div>
            <div class="desc">Община Марица</div>
            <div class="desc">Община Мездра</div>
            <div class="desc">Община Мизия</div>
            <div class="desc">Община Минерални бани</div>
            <div class="desc">Община Мирково</div>
            <div class="desc">Община Момчилград</div>
            <div class="desc">Община Монтана</div>
            <div class="desc">Община Мъглиж</div>

            <span style="font-size: 24px;"><B>Н</B></span>
            <div class="desc">Община Невестино</div>
            <div class="desc">Община Неделино</div>
            <div class="desc">Община Несебър</div>
            <div class="desc">Община Никола Козлево</div>
            <div class="desc">Община Николаево</div>
            <div class="desc">Община Никопол</div>
            <div class="desc">Община Нова Загора</div>
            <div class="desc">Община Нови пазар</div>
            <div class="desc">Община Ново село</div>

            <span style="font-size: 24px;"><B>О</B></span>
            <div class="desc">Община Омуртаг</div>
            <div class="desc">Община Опан</div>

            <span style="font-size: 24px;"><B>П</B></span>
            <div class="desc">Община Павел баня</div>
            <div class="desc">Община Павликени</div>
            <div class="desc">Община Пазарджик</div>
            <div class="desc">Община Панагюрище</div>
            <div class="desc">Община Перник</div>
            <div class="desc">Община Перущица</div>
            <div class="desc">Община Петрич</div>
            <div class="desc">Община Пещера</div>
            <div class="desc">Община Пирдоп</div>
            <div class="desc">Община Плевен</div>
            <div class="desc">Община Пловдив</div>
            <div class="desc">Община Полски Тръмбеш</div>
            <div class="desc">Община Поморие</div>
            <div class="desc">Община Пордим</div>
            <div class="desc">Община Попово</div>
            <div class="desc">Община Правец</div>
            <div class="desc">Община Приморско</div>
            <div class="desc">Община Провадия</div>
            <div class="desc">Община Първомай</div>

            <span style="font-size: 24px;"><B>Р</B></span>
            <div class="desc">Община Раднево</div>
            <div class="desc">Община Радомир</div>
            <div class="desc">Община Разград</div>
            <div class="desc">Община Разлог</div>
            <div class="desc">Община Ракитово</div>
            <div class="desc">Община Раковски</div>
            <div class="desc">Община Рила</div>
            <div class="desc">Община Родопи</div>
            <div class="desc">Община Роман</div>
            <div class="desc">Община Рудозем</div>
            <div class="desc">Община Руен</div>
            <div class="desc">Община Ружинци</div>
            <div class="desc">Община Русе</div>

            <span style="font-size: 24px;"><B>С</B></span>
            <div class="desc">Община Садово</div>
            <div class="desc">Община Самоков</div>
            <div class="desc">Община Самуил</div>
            <div class="desc">Община Сапарева баня</div>
            <div class="desc">Община Сандански</div>
            <div class="desc">Община Сатовча</div>
            <div class="desc">Община Свиленград</div>
            <div class="desc">Община Свищов</div>
            <div class="desc">Община Своге</div>
            <div class="desc">Община Севлиево</div>
            <div class="desc">Община Септември</div>
            <div class="desc">Община Силистра</div>
            <div class="desc">Община Симеоновград</div>
            <div class="desc">Община Симитли</div>
            <div class="desc">Община Ситово</div>
            <div class="desc">Община Сливен</div>
            <div class="desc">Община Сливница</div>
            <div class="desc">Община Сливо поле</div>
            <div class="desc">Община Смолян</div>
            <div class="desc">Община Смядово</div>
            <div class="desc">Община Созопол</div>
            <div class="desc">Община Сопот</div>
            <div class="desc">Община Средец</div>
            <div class="desc">Община Стамболийски</div>
            <div class="desc">Община Стамболово</div>
            <div class="desc">Община Стара Загора</div>
            <div class="desc">Община Стражица</div>
            <div class="desc">Община Стралджа</div>
            <div class="desc">Община Стрелча</div>
            <div class="desc">Община Струмяни</div>
            <div class="desc">Община Суворово</div>
            <div class="desc">Община Сунгурларе</div>
            <div class="desc">Община Сухиндол</div>
            <div class="desc">Община Съединение</div>
            <div class="desc">Община Сърница</div>
            <div class="desc">Столична община - район Банкя</div>
            <div class="desc">Столична община - район Витоша - Овча Купел</div>
            <div class="desc">Столична община - район Възраждане</div>
            <div class="desc">Столична община - район Изгрев</div>
            <div class="desc">Столична община - район Илинден</div>
            <div class="desc">Столична община - район Искър</div>
            <div class="desc">Столична община - район Красна поляна</div>
            <div class="desc">Столична община - район Красно село</div>
            <div class="desc">Столична община - район Кремиковци</div>
            <div class="desc">Столична община - район Лозенец</div>
            <div class="desc">Столична община - район Люлин</div>
            <div class="desc">Столична община - район Младост</div>
            <div class="desc">Столична община - район Надежда - Връбница</div>
            <div class="desc">Столична община - район Нови Искър</div>
            <div class="desc">Столична община - район Оборище</div>
            <div class="desc">Столична община - район Панчарево</div>
            <div class="desc">Столична община - район Подуяне</div>
            <div class="desc">Столична община - район Сердика</div>
            <div class="desc">Столична община - район Слатина</div>
            <div class="desc">Столична община - район Средец - Триадица</div>
            <div class="desc">Столична община - район Студентски</div>

            <span style="font-size: 24px;"><B>Т</B></span>
            <div class="desc">Община Твърдица</div>
            <div class="desc">Община Тервел</div>
            <div class="desc">Община Тетевен</div>
            <div class="desc">Община Тополовград</div>
            <div class="desc">Община Троян</div>
            <div class="desc">Община Трън</div>
            <div class="desc">Община Трекляно</div>
            <div class="desc">Община Трявна</div>
            <div class="desc">Община Търговище</div>
            <div class="desc">Община Тутракан</div>
            <div class="desc">Община Тунджа</div>


            <span style="font-size: 24px;"><B>У</B></span>
            <div class="desc">Община Угърчин</div>

            <span style="font-size: 24px;"><B>Х</B></span>
            <div class="desc">Община Хаджидимово</div>
            <div class="desc">Община Хайредин</div>
            <div class="desc">Община Харманли</div>
            <div class="desc">Община Хасково</div>
            <div class="desc">Община Хисаря</div>
            <div class="desc">Община Хитрино</div>

            <span style="font-size: 24px;"><B>Ц</B></span>
            <div class="desc">Община Цар Калоян</div>
            <div class="desc">Община Царево</div>
            <div class="desc">Община Ценово</div>

            <span style="font-size: 24px;"><B>Ч</B></span>
            <div class="desc">Община Чавдар</div>
            <div class="desc">Община Челопеч</div>
            <div class="desc">Община Чепеларе</div>
            <div class="desc">Община Червен бряг</div>
            <div class="desc">Община Черноочене</div>
            <div class="desc">Община Чипровци</div>
            <div class="desc">Община Чирпан</div>
            <div class="desc">Община Чупрене</div>

            <span style="font-size: 24px;"><B>Ш</B></span>
            <div class="desc">Община Шабла</div>
            <div class="desc">Община Шумен</div>


            <span style="font-size: 24px;"><B>Я</B></span>
            <div class="desc">Община Ябланица</div>
            <div class="desc">Община Ямбол</div>
            <div class="desc">Община Якимово</div>
            <div class="desc">Община Якоруда</div>


        </span>


    </div>
</div>
<!-- -->
